<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zozen.mypanichenv2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controllers.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".controllers.Activity_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.Activity_Register"
            android:parentActivityName=".controllers.Activity_Login" />
        <activity
            android:name=".controllers.Activity_Add_Ingredient"
            android:parentActivityName=".controllers.MainActivity"></activity>
        <activity
            android:name=".controllers.Activity_MenuDetail"
            android:parentActivityName=".controllers.MainActivity"></activity>
    </application>

</manifest>